<!DOCTYPE HTML>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>API TEST</title>
  <meta name="description" content="API TEST">
  <meta name="author" content="API TEST">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>

<body>
  

<div class="container">
	<div class="alert alert-error collapse" role="alert" id="order-not-found-error">
		<span>
			<p>The order was not found!</p>
		</span>
	</div>
	<br><br><br><br>
	<form class="form-inline">
		<div class="form-group">
			<label class="sr-only" for="trackingNoInput">TRACKING NO.</label>
			<input type="trackingNo" class="form-control" id="trackingNoInput" placeholder="TRACKING NO.">
		</div>
<button type="submit" class="btn btn-default">Submit</button>
</form>

<br>
<!-- <div>
	<iframe id='main-iframe' src="">

	</iframe>
</div> -->
</div>


<script src="static/ajax.js"></script>
</body>
</html>